
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    /*background-color: #ebebeb;*/
    background-color: rgb(230, 234, 240);
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

/**
* CSS - Page header 
**/
.section-header {
	padding-top: 0px;
	padding-bottom: 10px;
  background-color: rgb(250,251,252);
}

.section-header h1 {
	padding-left: 0px;
  /*color: rgb(85,85,85);*/
  color: rgb(106,115,125);
  font-family: 'Lato', sans-serif;
  font-size: 34px;
  font-weight: bold;
}

.section-default-page{
    margin: 0px;
    background-color: #FFF;
    padding-left: 0px;
    padding-top: 0px;
}

.section-default-page p {
    color: #7b7b7b;
    text-align: left;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.section-default-page h2 {
    color: #7b7b7b;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    padding-left: 10px;   
}

.section-default-page-border {
    border-bottom: 1px solid rgb(220,226,234);   
}

.section-default-page-space{
  padding-bottom: 5px;
}


.portail-main-content{
  background-color: #FFF;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /*border-width: 1px;
  border-style:solid;
  border-color: #6494bc;
  border-color: rgb(220,226,234);*/
}

.panel-primary{
  border-color: rgb(220,226,234);
}

.label-title p{
    color: rgb(68,125,168);
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
    display: block;
}


.tab-line-background {
    background-color: rgb(250,251,252);
}

.label-content {
    color: #7b7b7b;
    text-align: left;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    padding: 0px;
}

.btn-action-right {
  margin: 10px;
}

.btn{
  color: #FFF;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
}

.btn-cancel{
  margin-right: 10px;
  color: #7b7b7b;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
}

.btn-cancel:hover{
  color: #7b7b7b;
}

.btn-danger{
  margin-right: 10px;
  color: #FFF;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
}

.btn-danger:hover{
  color: #FFF;
}

/* 
 * Mise en forme des panneaux d'info "alert" Bootstrap
*/
.alert{
    color: #7b7b7b;
    text-align: left;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
}


.form-control {
    color: #7b7b7b;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
}

.help-block{
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
}

.center{
  text-align: center;
}