
/**
* App.css : Feuille de stype principale du portail PIAM
* @Author: Romain Jedynak 
**/

/* Import des feuilles de style */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Corps de la page Web */
body{
    background-color: #FFF;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

/**
* Section-header: en-tête d'affichage de la page
**/
.section-header {
    padding: 0px;
    background-color: rgb(250,251,252);
    margin-top: 60px;
}    

/* Titre de la page */
.section-header h1 {
	padding-left: 10px;
    color: rgb(106,115,125);
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    font-weight: bold;
}

/**
* Section-default-page: mise en forme générale des pages (contenu)
**/
.section-default-page{
    margin: 0px;
    background-color: #FFF;
    padding-left: 0px;
    padding-top: 0px;
}


.section-default-page p {
    color: #7b7b7b;
    text-align: left;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}


.section-default-page-border {
    border-bottom: 1px solid rgb(220,226,234);   
}

.section-default-page-space{
  padding-bottom: 5px;
}


.portail-main-content{
  background-color: #FFF;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.panel-primary{
  border-color: rgb(220,226,234);
}

.label-title p{
    color: rgb(68,125,168);
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
    display: block;
}



.label-content {
    color: #7b7b7b;
    text-align: left;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    padding: 0px;
}



.btn{
  color: #FFF;
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
}

.btn-cancel{
  margin-right: 10px;
  color: #7b7b7b;
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
}

.btn-cancel:hover{
  color: #7b7b7b;
}

.btn-danger{
  margin-right: 10px;
  color: #FFF;
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
}

.btn-danger:hover{
  color: #FFF;
}

/* 
 * Mise en forme des panneaux d'info "alert" Bootstrap
*/
.alert{
    color: #7b7b7b;
    text-align: left;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    padding-left: 10px;
}


.form-control {
    color: #7b7b7b;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
}

.help-block{
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
}

.center{
  text-align: center;
}


p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 0px;
    background-color: rgb(245,245,245);
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    /*background: rgb(68,125,168);*/
    /*background: rgb(40,51,57);*/
    /*background-color: rgb(245,245,245);*/
    background-color: rgb(88,145,188);
    border-right: 1px solid rgb(220,226,234);
    color: #fff;
    margin-top: 60px;
    padding-top: 20px;
}

#sidebar.active {
    margin-left: -200px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgb(68,125,168);
    margin-top: 60px;
}

#sidebar .sidebar-header h1 {
    font-family: 'Lato';
    font-size: 30px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 1.1em;
    display: block;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    vertical-align : middle;

}

#sidebar ul li.active > a {
    color: #FFF;
    background: rgb(68,125,168);
    height: 50px;

}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 200px);
    padding: 0px;
    padding-top: 40px;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}
#content.active {
    width: 100%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -200px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}


.navbar-default{
  margin-left: 200px;
}

.section-content{
  /*margin-top: 130px;*/
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-menutop{
    background-color: rgb(68,125,168);
    margin-left: 0px;
    padding: 0px;
    margin: 0px;
    height: 60px;
}
.navbar-menutop h1{
    color: #FFF;    
    padding-left: 20px;
    padding-top: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
}

.section-header{
    height: 100px;
    /*border-bottom: 1px solid rgb(220,226,234);*/ 
}

.section-content{
    margin-top: 160px;
    padding-top: 0px;
}

.page-header-links{
    text-align: center;
    padding-top: 20px;
}

.page-header-links i{
    color: rgb(48,105,148);
}

.page-header-links a{
    color: rgb(106,115,125);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/*
 * Mise en forme des tabulations
 */
.tab_line{
    background-color: rgb(245,245,245);

}

.nav-tabs {
    height: 46px;
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
}

.nav-tabs li a {
    color: #737373;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.nav-tabs .active {
    border-top: 4px solid rgb(68,125,168);
}

.nav-tabs > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.container-noborder{
    margin: 0px;
    padding: 0px;
}

.tab_line-btn {
    height: 46px;
    padding-right: 10px;
    border-bottom: 1px solid rgb(220,226,234); 
}


.page-header{
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-header h1{
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: rgb(106,115,125);
    font-weight: bold;
}

.control-label{
    color: rgb(106,115,125);
    font-size: 14px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.section-default-page-titre{
    color: rgb(106,115,125);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}