/**
* portail-table.css
* Feuille de style pour les tableaux
**/

table{
  margin-top: 10px;
  margin-bottom: 10px;
	border: 1px solid rgb(230,230,230);
}

table thead tr{
	background-color: rgb(230,230,230);
  border-bottom: 1px solid rgb(230,230,230);

}

/* Suppression de la bordure inférieure de l'en-tête */
table thead > tr > th { border-bottom: 1px solid rgb(230,230,230); }

table thead tr.odd  { background-color: #FFF; }
table thead tr.even { background-color: rgb(270,270,270) }

/* Mise en forme de l'en-tête des tableaux */
table thead tr th {
 	color: rgb(106,115,125);
  font-size: 14px;
}

/* Mis en forme du contenu des tableaux */
table tbody td {
  color: rgb(106,115,125);
  font-size: 14px;
}

table tbody tr:hover{
	background-color: rgb(240,240,240);
}
