.tab_line{
  padding: 0px;
  margin: 0px;
  border-bottom-width: 1px;
  border-bottom-style:solid;
  border-bottom-color: rgb(225,228,232);
}

.tabs {
  margin-top: 30px;
  margin-bottom: 11px;
  padding-left: 30px;

}

.tabs  ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tabs li {
    display: inline;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;

    border-left: 1px solid rgb(220,226,234);
    border-right: 1px solid rgb(220,226,234);
    border-top: 1px solid rgb(220,226,234);

}

.tabs li a {
  color: #737373;
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
  padding-bottom: 10px;
  text-decoration: none;


}

#selected {
    background: white;
    border-top: 4px solid rgb(68,125,168);
    border-bottom: 1px solid #FFF;
}